body {
    margin: 0;
    padding: 0;
    height: 90vh;
    font-family: gotham Rounded;
}

.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./Images/hero.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image .hero-text {
    color: #fff;
    text-align: center;
}

.hero-text p {
    font-size: 20px;
    font-weight: 20px;
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 550px;
}

.hero-btn{
    text-decoration: none;
    color: #fff;
    background: orange;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line{
    border: 5px solid orange;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    
}

.content-section{
    text-align: center;
    color: orange;
}


/* Spices & Benefits Section */

.img{
    height: 300px;
    width: 300px;
}

.grid{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .row{
    width: 1000px;
    display: flex;
}

.card{
    align-items: center;
} */

